{% extends "layout/basic.html" %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-0 mt-lg-5">
      <h1>Товар: {{ bb.title }}</h1>
      <p>Цена: {{ bb.price }} тг.</p>
      <p>Описание: {{ bb.content }}</p>
    </div>
  </div>
  <div class="row">
            <div class="col-md-4 col-sm-12">
      <h2 class="text-primary mt-4">Похожие товары</h2>
    {% for bb in bbs %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ bb.title_and_price }}</h2>
          <p class="card-text">{{  bb.content }}</p>
     <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name }}</a></p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
