{% extends "layout/basic.html" %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>

    <!-- Banner Ends Here -->

    <!-- Featured Starts Here -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h1>Объявления</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        {% for bb in bbs %}
                        <a href="{% url 'read' bb.pk %}">
                            <div class="featured-item">
                                <img src="{% static 'assets/images/item-05.jpg' %}" alt="Item 9">
                                <h4>{{ bb.title }}</h4>
                                <h6>{{ bb.price }}</h6>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    <!-- Featred Ends Here -->
{% endblock %}
