{% extends 'layout/base.html' %}

{% block content %}
  <h2>Задача: {{ task.title }}</h2>
  <p>Описание: {{ task.content }}</p>
  <p>Дата создания: {{ task.created }}</p>
  <p>Срок выполнения: {{ task.due_date }}</p>
  <p>Категория: {{ task.category }}</p>
  <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">
    <i class="fas fa-edit"></i> Редактировать
  </a>
  <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">
    <i class="fas fa-trash-alt"></i> Удалить
  </a>
  <a href="{% url 'task_detail' pk=task.pk %}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Назад к задаче
  </a>
{% endblock %}
