{% extends 'layout/base.html' %}
{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body bg-light">  <!-- Добавлен класс bg-light -->
            <h2 class="text-center mb-4">Создать новую задачу</h2>
            <form method="post" class="bg-light">  <!-- Добавлен класс bg-light -->
              {% csrf_token %}
              <div class="mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
              <div class="mb-3">
                {{ form.content.label_tag }}
                {{ form.content }}
              </div>
              <div class="mb-3">
                {{ form.due_date.label_tag }}
                {{ form.due_date }}
              </div>
              <div class="mb-3">
                {{ form.category.label_tag }}
                {{ form.category }}
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-plus"></i> Создать
              </button>
            </form>
            <a href="{% url 'task_list' %}" class="btn btn-secondary btn-block mt-3">
              <i class="fas fa-arrow-left"></i> Назад к списку задач
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
