{% extends 'layout/base.html' %}
{% block content %}
  <h2>Список задач</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Название задачи</th>
        <th scope="col">Время выполнения</th>
        <th scope="col">Время создания</th>
        <th scope="col">Автор</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></td>
          <td>{{ task.due_date }}</td>
          <td>{{ task.created }}</td>
          <td>{{ task.user.username }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
