{% extends 'base.html' %}
{% load filtersandtags %}

{% block title %}Список мороженого{% endblock %}
{% block content %}
    <h1>Список мороженого</h1>

    <ul>
        {% for icecream_item in icecream %}
            {{ some_text|to_uppercase }}
            {{ long_text|truncate_text:5 }}
            <li>Вкус: {{ icecream_item.flavor|to_uppercase }},
                Топпинг: {{ icecream_item.topping|truncate_text:5 }},
                Цена: {{ icecream_item.price }}</li>
        {% endfor %}
    </ul>
{% endblock %}
