{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Домашняя страница</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Мой сайт</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Домашняя страница</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Вход</a>
      </li>
    </ul>
  </nav>
  <div class="container mt-5">
    <h1>Добро пожаловать на домашнюю страницу</h1>
    <p>Здесь вы можете найти интересный контент и многое другое.</p>
  </div>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>